<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <style>
        #app{
            margin: 30px auto;
            width: 90%
        }
        .content pre{
            padding: 0;
            background-color: white
        }
    </style>
</head>
<body>
<div id="app">

    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://picsum.photos/128">
            </p>
        </figure>
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" placeholder="Add a comment..." v-model="twitMessage" @keyup.enter="onKeyupEnter"></textarea>
                </p>
            </div>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <a class="button is-info" @click="onSubmit">Submit</a>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <label class="checkbox">
                            <input type="checkbox" v-model="enterAllow"> Press enter to submit
                        </label>
                    </div>
                </div>
            </nav>
        </div>
    </article>

    <article class="media" v-for="(item, index) in twits">
        <figure class="media-left">
            <p class="image is-64x64">
                <img :src="`https://picsum.photos/id/${index + Math.floor(Math.random() * 100)}/128`">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{item.id}}</strong>
                    <pre>{{item.twit}}</pre>
                    <small>{{item.fromNow}} | <a @click="deleteItem(item)">삭제</a></small>
                </p>
            </div>
        </div>
    </article>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const {log} = console
    let transports = ['websocket']
    let option = {
        'force new connection': true,
        'transports': transports,
        'autoConnect': true,
        'reconnection': true,
        'timeout': 10000,
        'flash policy port': 10843,
        'reconnectionDelay': 1000
    }
    const socket = io('/', option)
    socket.on('connect', data=>{
        console.log(socket.id)
    })
    socket.on('connect ok', data=>{
        console.log(data)
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data:{
            twits: [],
            twitMessage: '',
            enterAllow: false,
        },
        created: function(){
            console.log('create!!')
            socket.on('user connect', data => {
                log(data)
            })

            socket.on('twitUpdate', data => {
                let twitList = data[0].map(item => item = JSON.parse(item))

                this.twits = _.orderBy(twitList, ['date'], ['desc'])
                this.twits.forEach(item => {
                    item['fromNow'] = moment(item.date).fromNow()
                })
                log(twitList)
            })

            this.getTwits()
        },

        methods: {
            onSubmit(){
                log(this.twitMessage)
                if(this.twitMessage.trim() === ''){
                    log('none!')
                    this.twitMessage = ''
                    return
                }
                socket.emit('addTwit', {twit: this.twitMessage})
                this.twitMessage = ''
                this.$buefy.toast.open({
                    message: 'Twitted!',
                    type: 'is-success'
                })
            },

            onKeyupEnter(){
                if(!this.enterAllow) return
                this.onSubmit()
            },

            getTwits(){
                socket.emit('getTwits')
            },

            deleteItem(item){
                socket.emit('deleteItem', JSON.stringify({id: item.id, twit: item.twit, date: item.date}))
            },
        }
    })
</script>
</body>
</html>