<% include common/header.ejs %>
<div id="app">

    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" placeholder="Add a comment..." v-model="twitMessage"
                              @keyup.enter="onKeyupEnter"></textarea>
                </p>
            </div>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <a class="button is-info" @click="onSubmit">Submit</a>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <label class="checkbox">
                            <input type="checkbox" v-model="enterAllow"> Press enter to submit
                        </label>
                    </div>
                </div>
            </nav>
        </div>
    </article>

    <article class="media" v-for="(item, index) in twits">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong @click="onItemClick(item)">{{item.id}}</strong>
                <pre>{{item.twit}}</pre>
                <small>{{item.fromNow}} | <a @click="deleteItem(item.id)">삭제</a></small>
                </p>
            </div>
        </div>
    </article>

    <b-modal :active.sync="isCardModalActive" :width="640" scroll="keep">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{selectedItem.userId}}</p>
                    </div>
                </div>

                <div class="content">
                    {{selectedItem.twit}}
                    <br>
                    <!--          <small>{{moment(parseInt(selectedItem.date)).format('YYYY-MM-dd')}}</small>-->
                </div>
            </div>
        </div>
    </b-modal>

</div>
<% include common/footer.ejs %>