<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <style>
        #app{
            margin: 30px auto;
            width: 90%
        }
        .content pre{
            padding: 0;
            background-color: white
        }
    </style>
</head>
<body>